<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="logImpl" value="LOG4J2" />
		<setting name="cacheEnabled" value="false" />
	</settings>

	<environments default="postgres">
		<environment id="postgres">
			<transactionManager type="MANAGED" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:/jdbc/PostgresDS" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!-- MyBatisはMapperインターフェスとMapper.xmlが同一パッケージにあることがデフォルト -->
		<package name="repository" />
	</mappers>

</configuration>
